---
title: KakaoLabs. - Training
---
#header.container
  .content
    %h1 Train with us
    %p
      We offer group and private training led by industry leaders with extensive coding experience. Our specialty is Ember.js training and mentoring. We also organize and speak at development and technology conferences worldwide.

#main.container
  .border
  .content
    %h2
      %span Current curricula
    #classes
      .class.flame
        %h3 Introduction to Ember
        %p
          Want to improve (or create) your Ember.js skills?
          We'll take you from beginner all the way through to creating a
          complete, well-architected web application. Each lecture is followed
          by a hands-on lab that will apply the learned concepts immediately.
          Select the date of your session for specific curriculum details.
        %p
          %a(href="#") Get in touch to schedule your next training
      .class.flame
        %h3 Introduction to Ember
        %p
          Want to improve (or create) your Ember.js skills?
          We'll take you from beginner all the way through to creating a
          complete, well-architected web application. Each lecture is followed
          by a hands-on lab that will apply the learned concepts immediately.
          Select the date of your session for specific curriculum details.
        %p
          %a(href="#") Get in touch to schedule your next training
      .class.scroll
        %h3 Introduction to Ember
        %p
          Want to improve (or create) your Ember.js skills?
          We'll take you from beginner all the way through to creating a
          complete, well-architected web application. Each lecture is followed
          by a hands-on lab that will apply the learned concepts immediately.
          Select the date of your session for specific curriculum details.
        %p
          %a(href="#") Get in touch to schedule your next training
    %hr
    #home-inquire.inquire.oneline
      %span.headline Need something different
      %p
        To schedule private training sessions or a speaking engagement
        %br
        for your organization, please contact us.
      %a.blue-button-animated(href="/contact")
        Get in touch?
        %span.arrow

