---
---
#header.container
  .content
    %h1 Consult with the experts
    %p
      Kakaolabs is run by developers who have worked on projects big and small.
      We focus not just on adding manpower, but on leveling your team up so
      you're in a better place once we're gone.
      Our goal is to create flexible, innovative products that can easily be
      maintained by your team.
      We specialize in projects using Python, Ruby on Rails and advanced JavaScript.

#main.container
  .border
  .content
    %h2
      %span Our process
    #our-process
      #plan
        %img(src="/images/plan.png")
        %h3 Plan
        %p
          We begin by defining the scope of your project. We'll go over existing plans and designs to figure out where and how we can be most useful. We'll discuss which languages and frameworks best suit your needs (bias alert: we built Ember.js), and talk about how to get the ball rolling. We'll also go over your preliminary budget.
      %hr
      #build
        %img(src="/images/build.png")
        %h3 Build
        %p
          We write code in a series of short development cycles, that start with sorting out what your top priorities really are. We work closely with your team to guide, build and mentor along the way. When each cycle completes, we test all aspects of the product before moving forward.
    %hr
    #home-inquire.inquire.oneline
      %span.headline So when can we start?
      %p
        Contact us for our availability and rates
      %a.blue-button-animated(href="/contact")
        Get in touch
        %span.arrow
