---
title: KakaoLabs.
---
#header.container
  .content
    %h1 About us
    %p
      We're active leaders in the open source community who
      %br
      believe in the power of collaboration.

#main.container
  .border
  .content
    %h2
      %span Meet the team
    #team
      #kiennt.person.odd
        %h3 Nguyen Trung Kien
        %p
          Yehuda is a core contributor to many projects, including Ruby on Rails, jQuery, and Ember.js. He also helped to create several open source projects like Bundler, Thor, Janus, and more. He travels the world evangelizing open source and is the author of several related technology books.
        %p.social-links
          %a.twitter(href="#")Twitter
          %a.github(href="#")Github
          %a.linkedin(href="#")Linkedin
      #dungnh.person.even
        %h3 Nguyen Hoang Dung
        %p
          Yehuda is a core contributor to many projects, including Ruby on Rails, jQuery, and Ember.js. He also helped to create several open source projects like Bundler, Thor, Janus, and more. He travels the world evangelizing open source and is the author of several related technology books.
        %p.social-links
          %a.twitter(href="#")Twitter
          %a.github(href="#")Github
          %a.linkedin(href="#")Linkedin
    #open-source
      .header
        %img(src="/images/acrobats.png")
        %h1 We [heart] open source.
        %p
          Sharing is caring when it comes to code.
          We're proud to contribute to some of the most innovative products in the industry.
    %hr
    #home-inquire.inquire.oneline
      %span.headline Have a project in mind?
      %a.blue-button-animated(href="/contact")
        Give us a shot
        %span.arrow

